@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body { 
  font-family: 'Roboto', sans-serif;
  font: 16px/120%; 
  margin: 0;	
  display: block;
}
#page-wrap { 
  margin: 0 auto; 
  padding-top: 20px;	
  width: 360px;
}

header { 
  padding-bottom: 20px; 
}
h1 { 
  font-weight: 700; 
  letter-spacing: 0.5px; 
}


.js {
  padding-bottom: 40px;
}
.js span { 
  display: block; 
  float: left; 
  margin-right: 4px; 
}
.clearfix:before, .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
